[Unit]
Description=Let's Encrypt create new certificates every hour
Requires=lets-encrypt-create.service

[Timer]
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target